@import '@/presentation/styles/colors';

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;

  input {
    flex: 1;
  }

  .inputIcon {
    width: 14px;
    height: 14px;
    background: radial-gradient(circle at 16px 16px, $red, #a8263d);
    border-radius: 10px;
    position: absolute;
    right: 7px;
    cursor: help;
  }
}
