.listWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 790px) {
  .listWrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .listWrap {
    grid-template-columns: 1fr;
  }
}
