@import './colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='password'],
input[type='email'],
input[type='text'] {
  border: none;
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 50px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 16px;
  outline: none;

  &:disabled {
    background-color: $disabledBackground;
    cursor: not-allowed;
    color: $disabledColor;
  }
}
